target/
!**/src/main/**
!**/src/test/**

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
.DS_Store
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

.vscode/
.flattened-pom.xml
